/*index.html*/
header{
	width: 100%;
	background: #64C5B4;
	height: 80px;
	color: white;
	padding-top: 40px;

}
.img{
	margin-left: 50px;
	float: left;
}
img{
	width: 60px;
	height: 60px;
}
.info{
	float: left;
	line-height: 1.5em;
	font-weight: normal;
	margin-left: 5px;
	font-size: 10px;
}
footer{
	background: #EFEDEE;
	width: 100%;
	height: 370px;
}
.popular,.rank{
	width: 49%;
	height: 80px;
	float: left;
	text-align: center;
	font-weight: normal;
	padding-top: 30px;
	color: #64C5B4;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.popular{
	border-right: 2px solid #aaaaaa;
}
h1{
	font-size: 40px;

}
h4{
	font-size: 20px;
}
button{
	border: none;
	cursor: pointer;
}
.vote,.list{
	clear: both;
	margin-top: 20px;
	width: 60%;
	height: 45px;
	background: #CBCDCC;
	color: black;
	border-radius: 6px;
	text-align: center;
	margin: 20px auto 0;
	cursor: pointer;
}
.vote p,.list p{
	padding-top: 8px;
	font-size: 24px;
	background: #CBCDCC;
	font-weight: bold;
}
a{
	text-decoration: none;	
}
.list a,.vote a{
	color: black;
}
.login,.share{
	width: 50%;
	height: 40px;
	float: left;
	text-align: center;
	margin-top: 30px;
}
.login button ,.share button{
	background: #358D7D;
	color: white;
	width: 80%;
	height: 50px;
	border-radius: 6px;
}
.login p,.share p{
	font-size: 24px;
	color: white;
	font-weight: bold;
}
	